Django
Pillow==11.0.0
django-crispy-forms==2.1
crispy-tailwind==0.5.0
django-allauth==0.58.2
psycopg2-binary==2.9.9
python-dotenv==1.0.0
requests==2.32.3
cryptography==43.0.3
django-widget-tweaks==1.5.0
django-extensions==3.2.3
django-allauth-ui==1.5.1
django-cors-headers==4.5.0
prompt_toolkit==3.0.48
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.9.0
pyotp==2.9.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
slippers==0.6.2
sqlparse==0.5.1
typeguard==2.13.3
typing_extensions==4.12.2
uritemplate==4.1.1
drf-yasg==1.21.8
Faker==33.0.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
uvicorn==0.35.0
whitenoise==6.9.0
dj-database-url==3.0.1
gunicorn==23.0.0
h11==0.16.0
psycopg2-binary==2.9.9